.upgrade-page {
	color: #ffffff;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		text-align: center;
	}
	.upgrade-image {
		padding: 30px;
	}
}